<h1> List of Directors </h1>



<table bordeer = "1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Dob</th>
    <th></th>
  </tr>
<% Director.all.each do |a_director|%>

<tr
<%=a_director.name%> (<%=a_director.dob%>)
</li>
<%end %>


</table>
